<div class="row section-holder">
  <div class="col-md-12">
    <h4>Graphs (click to edit)</h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Order</th>
          <th>Title</th>
          <th>Unit</th>
          <th>Url</th>
          <th>Page</th>
          <th>Manage</th>
          <th>Destroy</th>
        </tr>
      </thead>
      <tbody>
        <% @page.contents.each do |graph| %>
          <% if graph.class == Graph %>
            <tr>
              <td><%= best_in_place(graph, :order, url: admin_graph_path(graph)) %></td>
              <td><%= best_in_place(graph, :title, url: admin_graph_path(graph)) %></td>
              <td><%= best_in_place(graph, :unit, url: admin_graph_path(graph)) %></td>
              <td></td>
              <td><%= best_in_place(graph, :page_id, type: :select, collection:  Page.options_for_best_in_place, url: admin_graph_path(graph)) %></td>
              <td><%= link_to('Manage', admin_graph_path(graph)) %></td>
              <% if current_admin.super_admin %>
                <td><%= link_to('Destroy', admin_graph_path(graph), method: :delete, data: { confirm: 'Are you certain you want to delete this page?' }) %></td>
              <% else %>
                <td>Only Super Admins</td>
              <% end %>
            </tr>
          <% else %>
            <tr>
              <td><%= best_in_place(graph, :order, url: admin_external_graph_path(graph)) %></td>
              <td><%= best_in_place(graph, :title, url: admin_external_graph_path(graph)) %></td>
              <td></td>
              <td><%= best_in_place(graph, :external_url, url: admin_external_graph_path(graph)) %></td>
              <td><%= best_in_place(graph, :page_id, type: :select, collection:  Page.options_for_best_in_place, url: admin_external_graph_path(graph)) %></td>
              <td><%= link_to('Manage', admin_external_graph_path(graph)) %></td>
              <% if current_admin.super_admin %>
                <td><%= link_to('Destroy', admin_external_graph_path(graph), method: :delete, data: { confirm: 'Are you certain you want to delete this page?' }) %></td>
              <% else %>
                <td>Only Super Admins</td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="row section-holder">
  <h1 class="text-center">Add graphs and content to the page.</h1>
  <div class="col-md-6">
    <h2 class="text-center">Internal</h2>
    <p class="text-center">This data is stored in the app and renders a chart on the website.  No external calls are make to display the data</p>
    <%= form_for(Graph.new, url: admin_graphs_path) do |f| %>
      <div class="form-group">
        <%= f.hidden_field(:page_id, value: @page.id) %>
      </div>
      <div class="form-group">
        <%= f.label('Order', class: 'padded-label') %>
        <%= f.number_field :order, autofocus: true, placeholder: 'Order (1)', class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label('Title', class: 'padded-label') %>
        <%= f.text_field :title, autofocus: true, placeholder: 'Title for graph', class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label('Units', class: 'padded-label') %>
        <%= f.text_field :unit, autofocus: true, placeholder: 'Calls per day', class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.submit 'Create Internal Graph', class: 'btn btn-success btn-wide', id: 'submit_button', required: true %>
      </div>
    <% end%>
  </div>

  <div class="col-md-6">
    <h2 class="text-center">External</h2>
    <p class="text-center">Sometimes data is stored and charted in a different program ie Tableau or MapBox.  Paste a link to the graphic you want to include below.</p>
    <%= form_for(ExternalGraph.new, url: admin_external_graphs_path) do |f| %>
      <div class="form-group">
        <%= f.hidden_field(:page_id, value: @page.id) %>
      </div>
      <div class="form-group">
        <%= f.label('Order', class: 'padded-label') %>
        <%= f.number_field :order, autofocus: true, placeholder: 'Order (1)', class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label('Title', class: 'padded-label') %>
        <%= f.text_field :title, autofocus: true, placeholder: 'Title for graph', class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label('Url', class: 'padded-label') %>
        <%= f.text_field :external_url, autofocus: true, placeholder: 'https://www.link_to_chart.com', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Create External Graph', class: 'btn btn-success btn-wide', id: 'submit_button' %>
      </div>
    <% end%>
  </div>
</div>
