<% provide :title, 'Edit Page' %>

<h1 class="text-center">Edit <%= @page.name %></h1>

<div class="row">
  <%= form_for(@page, url: "/admin/pages/#{@page.id}") do |f| %>
      <%= f.hidden_field :admin_id, value: current_admin.id %>
    <div class="form-group">
      <%= f.label('Name', class: 'padded-label') %>
      <%= f.text_field :name, autofocus: true, placeholder: 'Category name (DWP)', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label('Title', class: 'padded-label') %>
      <%= f.text_field :title, autofocus: true, placeholder: 'Title for DWP page', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label('Introductary text', class: 'padded-label') %>
      <%= f.text_area :intro_text, autofocus: true, placeholder: 'Short description of page...', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label('Category', class: 'padded-label') %>
      <%= f.select(:category_id, options_for_select(Category.options_for_select, @page.category_id)) %>
    </div>
    <div class="form-group">
      <%= f.submit 'Edit Page', class: 'btn btn-success btn-wide', id: 'submit_button' %>
    </div>
  <% end%>
</div>

<script>
  $(document).ready(function() {
    $("#page_category_id").select2({});
  });
</script>
