<% if @graph.page.present? %>
  <h1 class="text-center"><%= link_to @graph.page.category.name, admin_category_path(@graph.page.category) %></h1>
  <h1 class="text-center"><%= link_to @graph.page.name, admin_page_path(@graph.page) %></h1>
<% else %>
  <h1 class="text-center"><%= link_to 'Unassigned Graphs', admin_graphs_path %></h1>
<% end %>
<h1 class="text-center"><%= "Data for #{@graph.title}" %></h1>

<%= render '/graphs/graph', graph: @graph %>

<% @graph.lines.each do |line| %>
  <div class="section-holder">
    <div class="row">
      <div class= col-md-12>
        <h3 class="text-center"><%= best_in_place(line, :title, url: admin_graph_line_path(@graph, line)) %></h3>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Order</th>
              <th>Time</th>
              <th>Value</th>
              <th>Notes</th>
              <th>Updated By</th>
              <th>Updated at</th>
              <th>Destroy</th>
            </tr>
          </thead>
          <tbody>
            <% line.points.each do |point| %>
              <tr>
                <td><%= best_in_place(point, :position, url: admin_graph_point_path(@graph, point)) %></td>
                <td><%= best_in_place(point, :time, url: admin_graph_point_path(@graph, point)) %></td>
                <td><%= best_in_place(point, :value, url: admin_graph_point_path(@graph, point)) %></td>
                <td><%= best_in_place(point, :notes, as: :textarea, url: admin_graph_point_path(@graph, point)) %></td>
                <td><%= point.created_by %></td>
                <td><%= point.updated_at %></td>
                <% if current_admin.super_admin %>
                  <td><%= link_to('Destroy', admin_graph_point_path(@graph, point), method: :delete, data: { confirm: 'Are you certain you want to delete this point?' }) %></td>
                <% else %>
                  <td>Only Super Admins</td>
                <% end %>
              </tr>
            <% end %>
            <tr>
              <%= form_for(Point.new, url: admin_graph_points_path(@graph)) do |f| %>
                <%= f.hidden_field :line_id, value: line.id %>
                <td><%= f.text_field :position, placeholder: 'Order', class: 'form-control', id: "#{line.id}-date-field" %></td>
                <td><%= f.text_field :time, placeholder: 'Time', class: 'form-control', id: "#{line.id}-date-field" %></td>
                <td><%= f.text_field :value, autofocus: true, placeholder: 'Value', class: 'form-control' %></td>
                <td><%= f.text_area :notes, autofocus: true, placeholder: 'Notes', class: 'form-control' %></td>
                <td><%= f.submit 'Create Point', class: 'btn btn-success btn-wide', id: 'submit_button' %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    jQuery(".best_in_place").best_in_place();
  });
</script>
