<% provide :title, 'External Graphs' %>

<h1 class="text-center">Internal Graphs Without a Page</h1>

<div class="row section-holder">
  <div class="col-md-12">
    <h5>Graphs (click to edit)</h5>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Order</th>
          <th>Title</th>
          <th>Url</th>
          <th>Page</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @graphs.each do |graph| %>
          <tr>
            <td><%= best_in_place(graph, :order, url: "/admin/external_graphs/#{graph.id}") %></td>
            <td><%= best_in_place(graph, :title, url: "/admin/external_graphs/#{graph.id}") %></td>
            <td><%= best_in_place(graph, :external_url, url: "/admin/external_graphs/#{graph.id}") %></td>
            <td><%= best_in_place(graph, :page_id, type: :select, collection:  Page.options_for_best_in_place, url: "/admin/graphs/#{graph.id}") %></td>
            <td><%= link_to 'Edit data', "/admin/graphs/#{graph.id}" %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row section-holder">
  <div class="col-md-6 col-md-offset-3">
    <%= render '/admin/external_graphs/form' %>
  </div>
</div>


<script>
  $(document).ready(function() {
    $("#graph_page_id").select2({});
    $("#external_graph_page_id").select2({});
    jQuery(".best_in_place").best_in_place();
  });
</script>
