<div class="row section-holder">
  <h1 class="text-center"><%= "Preview of #{@external_graph.title}" %></h1>

    <%  @external_graph.pages.each do |page| %>
      <h3 class="text-center"><%= link_to page.name, admin_page_path(page) %></h3>
    <% end %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <%= render '/external_graphs/external_graph', graph: @external_graph %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Edit</h4>
      <%= form_for(@external_graph, url: admin_external_graph_path(@external_graph)) do |f| %>
        <div class="form-group">
          <%= f.label('Title', class: 'padded-label') %>
          <%= f.text_field :title, autofocus: true, placeholder: 'Title for external graph', class: 'form-control', required: true %>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label(:width, class: 'padded-label') %>
              <%= f.select :width, {'Full' => '12', 'Half' => '6', 'Third' => '4', 'Quarter' => '3'},
                                   {},
                                   class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label(:height, class: 'padded-label') %>
              <%= f.number_field :height, autofocus: true, placeholder: 'height', class: 'form-control', required: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:external_url, class: 'padded-label') %>
          <%= f.text_field :external_url, placeholder: 'http://website.com', autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label('Tags', class: 'padded-label') %>
          <%= f.select(:tags, options_for_select(Tag.pluck(:name), @external_graph.tags.pluck(:name)),
                              {},
                              { multiple: true , required: true }) %>
        </div>
        <div class="form-group">
          <%= f.submit 'Update External Graph', class: 'btn btn-success btn-wide', id: 'submit_button', required: true %>
        </div>
      <% end%>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    jQuery(".best_in_place").best_in_place();
  });
 $("#external_graph_width").select2({ });
 $("#external_graph_tags").select2({
   tags: true,
   multiple: true,
 });
</script>
