<li class="panel panel-info" data-url="<%= admin_reorder_url %>" data-id="<%= category.id %>" >
  <div class="panel-heading">
    <%= best_in_place category, :name, url: admin_category_url(category) %> &nbsp
    <%= link_to admin_category_url(category), data: {:confirm => 'Are you sure?'}, :method => :delete, class: 'text-right' do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <ul class="category-page-list sortable-page" id="category-page-list-<%= category.id %>" data-url="<%= admin_category_url(category) %>" data-id="<%= category.id%>">
      <% category.pages.each do |page| %>
        <%= render '/admin/pages/panel_row', page: page %>
      <% end %>
    </ul>
  </div>
</li>
