<% provide :title, 'Categories' %>

<h1 class="text-center">Manage Categories</h1>

<div class="row section-holder">
  <%= form_for(@category, url: admin_categories_path, html: { class: 'form-inline text-center' }) do |f| %>
      <%= f.hidden_field :admin_id, value: current_admin.id %>
    <div class="form-group col-md-4">
      <%= f.label('Name', class: 'sr-only') %>
      <%= f.text_field :name, autofocus: true, placeholder: 'Category name (MOCS)', class: 'form-control', required: true %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label('Order', class: 'sr-only') %>
      <%= f.number_field :order, autofocus: true, placeholder: 'Order (1)', class: 'form-control', required: true %>
    </div>
    <div class="form-group col-md-4">
      <%= f.submit 'Create Category', class: 'btn btn-success btn-wide', id: 'submit_button' %>
    </div>
  <% end%>
</div>

</br>

<ul class="section-holder sortable-category">
  <% @categories.each do |category| %>
    <li class="panel panel-info" data-url="<%= admin_reorder_url %>" data-id="<%= category.id %>" >
      <div class="panel-heading">
        <%= category.name %>
      </div>
      <div class="panel-body">
        <ul class="category-page-list sortable-page" data-url="<%= admin_category_url(category) %>" data-id="<%= category.id%>">
          <% category.pages.each do |page| %>
            <li id="page-listitem-<%= page.id %>" data-id=<%= page.id %>>
              <div class="page-listitem sort-container">
                <i class="fa fa-sort" aria-hidden="true"></i>
              </div>
              <div class="page-listitem name-container">
                <%= page.name %>
              </div>
              <div class="page-listitem actions-container">
                Manage Delete
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>

<script>
  $(document).ready(function() {
    jQuery(".best_in_place").best_in_place();
    $(".sortable-page").sortable({
      connectWith: ".sortable-page",
      update: function(event, ui) {
        var params = {};
        params['pages'] = $.map($(event.target).children('li'), function(n) { return $(n).data('id')});
        var categoryUrl = $(event.target).data('url');
        $.ajax({
          data: { category: params },
          url: categoryUrl,
          type: 'PUT',
          success: function(response) {
          }
        });
      }
    });

    $(".sortable-category").sortable({
      revert: 'invalid',
      placeholder: 'placeholder',
      forceHelperSize: true,
      start: function( event, ui ) {
        ui.placeholder.height(ui.item.height())
        ui.placeholder.width(ui.item.width())
      },
      update: function(event, ui) {
        var categoryIds = $.map($(event.target).children('li'), function(n) { return $(n).data('id')});
        var categoryUrl = $(event.target).data('url');
        $.ajax({
          data: { category_ids: categoryIds },
          url: '/admin/reorder',
          type: 'PUT',
          success: function(response) {
          }
        });
      }
    });
  });
</script>
