<% provide :title, 'Categories' %>

<h1 class="text-center">Manage Categories</h1>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
      <%= form_for Category.new, url: admin_categories_url(format: :js), remote: true, authenticity_token: true do |f| %>
        <%= f.hidden_field :admin_id, value: current_admin.id %>
        <%= f.hidden_field :name, value: "New Category" %>
        <%= f.submit 'Create Category', class: 'btn btn-primary btn-wide' %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= form_for Page.new, url: admin_pages_url(format: :js), remote: true, authenticity_token: true do |f| %>
        <%= f.submit 'Create Page', class: 'btn btn-info btn-wide' %>
        <%= f.hidden_field :admin_id, value: current_admin.id %>
        <%= f.hidden_field :category_id, value: @categories.first.id %>
        <%= f.hidden_field :name, value: "New Page" %>
      <% end %>
    </div>
</div>

</br>

<ul class="section-holder sortable-category">
  <% @categories.each do |category| %>
    <%= render '/admin/categories/panel', category: category %>
  <% end %>
</ul>

<script>
  $(document).ready(function() {
    jQuery(".best_in_place").best_in_place();
    $(".sortable-page").sortable({
      connectWith: ".sortable-page",
      update: function(event, ui) {
        var params = {};
        params['pages'] = $.map($(event.target).children('li'), function(n) { return $(n).data('id')});
        var categoryUrl = $(event.target).data('url');
        $.ajax({
          data: { category: params },
          url: categoryUrl,
          type: 'PUT',
          success: function(response) {
          }
        });
      }
    });

    $(".sortable-category").sortable({
      revert: 'invalid',
      placeholder: 'placeholder',
      forceHelperSize: true,
      start: function( event, ui ) {
        ui.placeholder.height(ui.item.height())
        ui.placeholder.width(ui.item.width())
      },
      update: function(event, ui) {
        var categoryIds = $.map($(event.target).children('li'), function(n) { return $(n).data('id')});
        var categoryUrl = $(event.target).data('url');
        $.ajax({
          data: { category_ids: categoryIds },
          url: '/admin/reorder',
          type: 'PUT',
          success: function(response) {
          }
        });
      }
    });
  });
</script>
