<% provide :title, 'Categories' %>

<h1 class="text-center">Manage Categories</h1>
<h4 class="text-center">These are the main navigation tabs a user will see.  They will have dropdowns which link to pages</h4>

<div class="row section-holder">
  <%= form_for(@category, url: '/admin/categories', html: { class: 'form-inline text-center' }) do |f| %>
      <%= f.hidden_field :admin_id, value: current_admin.id %>
    <div class="form-group col-md-4">
      <%= f.label('Name', class: 'sr-only') %>
      <%= f.text_field :name, autofocus: true, placeholder: 'Category name (MOCS)', class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label('Order', class: 'sr-only') %>
      <%= f.number_field :order, autofocus: true, placeholder: 'Order (1)', class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= f.submit 'Create Category', class: 'btn btn-success btn-wide', id: 'submit_button' %>
    </div>
  <% end%>
</div>

</br>

<div class="row section-holder">
  <div class="col-md-12">
    <h4>Categories (click to edit)</h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Order</th>
          <th>Name</th>
          <th>Last Updated By</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <% next if category.name == 'Hidden Category' %>
          <tr>
            <td><%= best_in_place(category, :order, url: "/admin/categories/#{category.id}") %></td>
            <td><%= best_in_place(category, :name, url: "/admin/categories/#{category.id}") %></td>
            <td><%= category.created_by %></td>
            <td><%= category.created_at %></td>
            <td><%= category.updated_at %></td>
            <% if current_admin.super_admin %>
              <td><%= link_to('Destroy', "/admin/categories/#{category.id}", method: :delete, data: { confirm: 'Are you certain you want to delete this category?' }) %></td>
            <% else %>
              <td>Only Super Admins</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script>
  $(document).ready(function() {
    jQuery(".best_in_place").best_in_place();
  });
</script>
