<% provide :title, 'Pages' %>

<h1 class="text-center"><%= "Manage #{@category.name} pages" %></h1>
<h4 class="text-center">Add pages that will appear in the drop down</h4>

<div class="row section-holder">
  <div class="col-md-12">
    <h4><%= "Pages (click to edit)" %></h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Order</th>
          <th>Name</th>
          <th>Intro Text</th>
          <th>Category</th>
          <th>Last Updated By</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Manage</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @category.pages.each do |page| %>
          <tr>
            <td><%= best_in_place(page, :order, url: admin_page_path(page)) %></td>
            <td><%= best_in_place(page, :name, url: admin_page_path(page)) %></td>
            <td><%= best_in_place(page, :intro_text, type: :textarea, url: admin_page_path(page)) %></td>
            <td><%= best_in_place(page, :category_id, type: :select, collection:  Category.options_for_best_in_place, url: admin_page_path(page)) %></td>
            <td><%= page.created_by %></td>
            <td><%= page.created_at %></td>
            <td><%= page.updated_at %></td>
            <td><%= link_to('Manage', admin_page_path(page)) %></td>
            <% if current_admin.super_admin %>
              <td><%= link_to('Destroy', admin_page_path(page), method: :delete, data: { confirm: 'Are you certain you want to delete this page?' }) %></td>
            <% else %>
              <td>Only Super Admins</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

</br>

<div class="row section-holder">
  <%= form_for(@category.pages.new, url: admin_pages_path(@category)) do |f| %>
    <div class="form-group">
      <%= f.label('Category', class: 'padded-label') %>
      <%= f.select(:category_id, options_for_select(Category.options_for_select, @category.id)) %>
    </div>
    <div class="form-group">
      <%= f.label('Order', class: 'padded-label') %>
      <%= f.number_field :order, autofocus: true, placeholder: 'Order (1)', class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= f.label('Name', class: 'padded-label') %>
      <%= f.text_field :name, autofocus: true, placeholder: 'Title for DWP page', class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= f.label('Introductary text', class: 'padded-label') %>
      <%= f.text_area :intro_text, autofocus: true, placeholder: 'Short description of page...', class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= f.submit 'Create Page', class: 'btn btn-success btn-wide', id: 'submit_button' %>
    </div>
  <% end%>
</div>


<script>
  $(document).ready(function() {
    $("#page_category_id").select2({});
    jQuery(".best_in_place").best_in_place();
  });
</script>
