<% if @card.page && @card.page.category %>
  <h1 class="text-center"><%= link_to @card.page.category.name, admin_category_path(@card.page.category) %></h1>
<% end %>
<% if @card.page %>
  <h1 class="text-center"><%= link_to @card.page.name, admin_page_path(@card.page) %></h1>
<% end %>

<div class="row section-holder">
  <h1 class="text-center"><%= "Manage #{@card.title}" %></h1>
  <div class="row">
    <div class= "col-sm-6 col-sm-offset-3">
      <%= form_for(@card, url: admin_card_path(@card)) do |f| %>
        <div class="form-group">
          <%= f.label('Color', class: 'padded-label') %>
          <%= f.select(:color, options_for_select(%w(green red blue), @card.color), required: true) %>
        </div>
        <div class="form-group">
          <%= f.label('Icon', class: 'padded-label') %>
          <%= f.select(:icon, options_for_select(Card.icons, @card.icon), required: true) %>
        </div>
        <div class="form-group">
          <%= f.label('Title', class: 'padded-label') %>
          <%= f.text_field :title, autofocus: true, placeholder: 'Title for card', class: 'form-control', required: true %>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label('Current Value', class: 'padded-label') %>
              <%= f.text_field :value, autofocus: true, placeholder: 'Current Value', class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label('Date of Current Value', class: 'padded-label') %>
              <%= f.text_field :value_date, autofocus: true, class: 'form-control', required: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label('Goal', class: 'padded-label') %>
              <%= f.text_field :goal, autofocus: true, placeholder: 'Goal', class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label('Goal Deadline', class: 'padded-label') %>
              <%= f.text_field :goal_date, autofocus: true, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label('Percantge of goal completed:', class: 'padded-label') %>
          <%= f.number_field :percentage_complete, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label('Source must start with http://', class: 'padded-label') %>
          <%= f.text_field :source, autofocus: true, placeholder: 'url for data source', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label('Trend', class: 'padded-label') %>
          <%= f.text_field :trend, autofocus: true, placeholder: 'Trend', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Update Card', class: 'btn btn-success btn-wide', id: 'submit_button', required: true %>
        </div>
      <% end%>
    </div>
  </div>
  </br>
  </br>
  </br>
  <div class="row">
    <div class= "col-sm-4"></div>
    <%= render '/layouts/card', card: @card %>
  </div>
</div>

<script>
  function formatIcon (icon) {
    if (icon.loading) {
      return icon.text;
    };
    return $('<i class= "fa ' + icon.text + '">  ' + icon.text + '</i>')
  };

 $("#card_icon").select2({
   templateSelection: formatIcon,
   templateResult: formatIcon,
 });
 $("#card_color").select2({});
</script>
