<div class="row section-holder">
  <h1 class="text-center"><%= "Manage #{@card.title}" %></h1>
  <%  @card.pages.each do |page| %>
    <h3 class="text-center"><%= link_to page.name, admin_page_path(page) %></h3>
  <% end %>
  <div class="text-center">
    <%= link_to "Manage Data", @card, class: 'btn btn-primary' %>
  </div>
  </br>
  </br>
  <div class="row">
    <div class= "col-sm-6 col-sm-offset-3">
      <%= form_for(@card, url: admin_card_path(@card)) do |f| %>
        <div class="form-group">
          <%= f.label('Icon', class: 'padded-label') %>
          <%= f.select(:icon, options_for_select(Card.icons, @card.icon), required: true) %>
        </div>
        <div class="form-group">
          <%= f.label('Title', class: 'padded-label') %>
          <%= f.text_field :title, autofocus: true, placeholder: 'Title for card', class: 'form-control', required: true %>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label('Goal', class: 'padded-label') %>
              <%= f.text_field :goal, autofocus: true, placeholder: 'Goal', class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label('Goal Deadline', class: 'padded-label') %>
              <%= f.text_field :goal_date, autofocus: true, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label('Source must start with http://', class: 'padded-label') %>
          <%= f.url_field :source, autofocus: true, placeholder: 'url for data source', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label('Tags', class: 'padded-label') %>
          <%= f.select(:tags, options_for_select(Tag.pluck(:name), @card.tags.pluck(:name)),
                              {},
                              { multiple: true }) %>
        </div>
        <div class="form-group">
          <%= f.submit 'Update Card', class: 'btn btn-success btn-wide', id: 'submit_button', required: true %>
        </div>
      <% end%>
    </div>
  </div>
  </br>
  </br>
  </br>
  <div class="row">
    <div class= "col-sm-4"></div>
    <%= render '/layouts/card', card: @card %>
  </div>
</div>

<script>
  function formatIcon (icon) {
    if (icon.loading) {
      return icon.text;
    };
    return $('<i class= "fa ' + icon.text + '">  ' + icon.text + '</i>')
  };

 $("#card_icon").select2({
   templateSelection: formatIcon,
   templateResult: formatIcon,
 });
 $("#card_tags").select2({
   tags: true,
   multiple: true,
 });
 $("#card_color").select2({});
</script>
