<% provide :title, 'Manage Content' %>

<h1 class="text-center">Manage Content</h1>

<div class="section-holder">
  <table class="table table-striped table-bordered" id="content-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Manage</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @external_graphs.each do |external_graph| %>
        <tr>
          <td><%= external_graph.title %></td>
          <td>External Graph</td>
          <td><%= link_to('Manage', admin_external_graph_url(external_graph)) %></td>
          <td><%= link_to('Destroy', "#", method: :delete, data: { confirm: '' }) %></td>
        </tr>
      <% end %>
      <% @graphs.each do |graph| %>
        <tr>
          <td><%= graph.title %></td>
          <td>Graph</td>
          <td><%= link_to('Manage', admin_graph_url(graph)) %></td>
          <td><%= link_to('Destroy', "", method: :delete, data: { confirm: '' }) %></td>
        </tr>
      <% end %>
      <% @cards.each do |card| %>
        <tr>
          <td><%= card.title %></td>
          <td>Card</td>
          <td><%= link_to('Manage', admin_card_url(card)) %></td>
          <td><%= link_to('Destroy', "", method: :delete, data: { confirm: '' }) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script>
  $(document).ready(function() {
     $('#content-table').DataTable();
  });
</script>
