<div class="col-sm-4">
  <div class="xe-widget xe-progress-counter xe-progress-counter-<%= card.color %>">

    <div class="xe-background">
      <i class="fa <%= card.icon %>"></i>
    </div>

    <div class="xe-upper">
      <div class="xe-icon">
        <i class="fa <%= card.icon %>"></i>
      </div>
      <div class="xe-label">
        <h5><%= card.title %></h5>
        <strong><%= card.value %></strong>
        <span><%= card.value_date %></span>
      </div>
    </div>

    <div class="xe-progress">
      <span class="xe-progress-fill" data-fill-to="0" data-fill-unit="%" length data-fill-duration="3" data-fill-easing="true" style="width: <%= card.percentage_complete %>%;"></span>
    </div>

    <div class="xe-lower xe-right">
      <strong>
        <%= link_to('Source', card.source) if card.source %> | 
        <%= card.trend %>
      </strong>

    </div>
    <div class="label label-default"><%= "GOAL: #{card.goal} by #{card.goal_date}" %></div>
  </div>
</div>
