<script src="https://globalnav.lacity.org/global_nav_2.0.js"></script> 
<nav class="navbar navbar-default navbar-fixed-top landing-nav logged-out-nav" role="navigation">
  <div class="container">
    <div class="logo-container col-xs-9 col-sm-1 col-md-1">
      <a href="/#" id="logo" class="pull-left">
        <img src=<%= image_url('logo.png') %> class="navbar-brand" id="landing-logo" style="padding:0px;">
      </a>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu-items" id="color-toggle-box">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" id="color-toggle-bar"></span>
        <span class="icon-bar" id="color-toggle-bar"></span>
        <span class="icon-bar" id="color-toggle-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-menu-items">

      <ul class="nav navbar-nav navbar-right" id="logged-out-nav">
        <% @categories.each do |category| %>
          <% next if category.hidden %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= category.name %>
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu">
              <% category.pages.each do |page| %>
                <li><%= link_to page.name, page_path(page) %></a></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if current_admin.present? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Account
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to('Admin', admin_categories_path) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Log out', destroy_admin_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to('Admin', new_admin_session_path) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="nav-spacer"></div>
